body {
    width: 100% !important;
    background-color: #1a1a1a;
    overflow: hidden;
    margin: var(--tg-safe-area-inset-top), 0 0;
    padding-top: 15px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.grid > div:not(.notif) {
    -webkit-user-select: none;
    user-select: none;
    transition: background-color .2s;
    display: flex;
    position: relative;
    width: min(100%, 400px);
    height: 50px;
    background-color: #e7e7e7;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.grid > div:not(.confirm):not(.notif)::after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 15px;
    background-image: linear-gradient(white, white), linear-gradient(white, white);
    background-clip: content-box, border-box;
}

.grid > div:not(.confirm):not(.notif).active::after {
    background-image: linear-gradient(green, green), linear-gradient(white, white);
}
.grid > div:active, 
.grid > div.confirm.enabled:active {
    background-color: #b2b2b2;
    outline: 2px solid #fff;
}

.grid > div.confirm {
    background-color: #7e7e7e;
    pointer-events: none;
    margin-top: 25px;
}
.grid > div.confirm.enabled {
    background-color: #e7e7e7;
    pointer-events: all;
}
.grid > div.notif {
    margin-top: 35px;
    color: #e7e7e7;
    font-style: italic;
    font-size: 20;
}